mixin checkbox-group(params, isRadio)
  -
    var {
      errorMessage,
      labelMainId,
      checkboxes,
      labelMainTitle,
      required,
      classes,
    } = params
    var classesResult = classes || ''
    classesResult += isRadio ? ' radio-btn' : ' checkbox'
    
  .checkbox-group.js-checkbox-group(
    data-error-message= errorMessage
  )&attributes(attributes)
    if checkboxes.length
      fieldset.checkbox-group__items
        if labelMainTitle
          legend.checkbox-group__title
            | !{labelMainTitle}
            if required
              span.input-common__required(
                aria-hidden='true'
              ) *
        each checkbox, i in checkboxes
          -
            var {
              name,
              value,
              checked,
              labelTitle,
              attrs,
            } = checkbox
          .checkbox-group__item(class=classesResult)
            input(
              type=isRadio ? 'radio' : 'checkbox'
              id= `${labelMainId}-item-${i}`
              name= name
              aria-labelledby= `${labelMainId}-label-${i}`
              value= value
              required= required
              checked= checked || undefined
            ).js-checkbox-group__input&attributes(attrs)
            label(for= `${labelMainId}-item-${i}`, id= `${labelMainId}-label-${i}` class=isRadio ? 'radio-btn__label' : 'checkbox__label')
              span= labelTitle
              if !isRadio
                +svgsprite('only-checkbox')(aria-hidden='true')
      span(
        id=`${labelMainId}_error`
        aria-hidden='true'
      ).input-common__message._hidden.js-input__error-message= errorMessage
